<blockquote>
    <p><%- quote; %></p>
</blockquote>

<style>
    <% include index.css %>
</style>

<div class="hexo-douban-tabs">
    <a class="hexo-douban-tab" id="hexo-douban-tab1" href="javascript:;"
       rel="external">
        <%= __('musicListening') %>
        (<%= listening.length %>)</a>
    <a class="hexo-douban-tab" id="hexo-douban-tab2" href="javascript:;"
       rel="external">
        <%= __('musicWish') %>
        (<%= wish.length %>)</a>
    <a class="hexo-douban-tab" id="hexo-douban-tab3" href="javascript:;"
       rel="external">
        <%= __('musicListened') %>
        (<%= listen.length %>)</a>
</div>
<div>
    <div id="hexo-douban-item1">
        <% listening.forEach(function(item){ %>
        <% include musicListening.ejs %>
        <% }); %>
        <% include pagination.ejs %>
    </div>
    <div id="hexo-douban-item2">
        <% wish.forEach(function(item){ %>
        <% include musicWish.ejs %>
        <% }); %>
        <% include pagination.ejs %>

    </div>
    <div id="hexo-douban-item3">
        <% listen.forEach(function(item){ %>
        <% include musicListened.ejs %>
        <% }); %>
        <% include pagination.ejs %>
    </div>

</div>

<script>
    <% include index.js %>
    <% include pagination.js %>
</script>

